.cardContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.largeCard {
  width: 268px;
  height: 388px;
  margin: 5px;
  cursor: pointer;
}

.startButton {
  transition: 1s;
  background-color: rgba(0, 255, 128);
  display: block;
  padding: 1rem 6rem;
  font-weight: bolder;
  font-size: medium;
  margin: 10px auto 50px;
}

.start-button:not(:disabled) {
  cursor: pointer;
}

.startButton:disabled {
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.3);
  color: rgba(128, 128, 128, 0.3);
}
