.plug {
  font-size: 1.8rem;
  position: relative;
  text-align: center;
  top: 0;
  display: flexbox;
  color: orange;
}

.plug .nav-link {
  padding: 0.2rem;
  margin: 0.2rem;
  transition: 0.6s;
  border: outset;
  border-color: yellow;
  border-width: 2px;
  border-radius: 10px;
  color: yellow;
  background-color: transparent;
}

.plug .nav-link:hover {
  transition: 0.6s;
  border-color: orange;
  color: orange;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
