.root {
  background-image: url(./../../../assets/board.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 1.71);
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  width: 50.3vw;
  height: 50.3vw;
  top: 4.3vw;
  left: 25.1vw;
}

.boardPlate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}
.boardPlate:hover {
  background: rgba(255, 255, 255, 0.1);
}
.boardPlate.disabled:hover {
  background: none;
}

.cardOnPlate {
  transition: 0.4s;
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.card {
  transition: 0.4s;
  max-height: 14.8vw;
  margin-top: -6vw;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card:first-child {
  margin-top: 0;
}

.playerOne,
.playerTwo {
  padding-top: 8vw;
  position: absolute;
  top: 4.3vw;
  width: 250px;
  height: 50.3vw;
}

.playerOne {
  left: 5vw;
}

.playerTwo {
  right: 5vw;
}

.playerTwo .selectedCard {
  transition: 0.4s;
  transform: translateX(-3vw) rotate(15deg);
}

.playerOne .selectedCard {
  transition: 0.4s;
  transform: translateX(3vw) rotate(-15deg);
}
